*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: ubuntu,sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    font-style: normal;
    color: white;
}
header {
    background-image: url(/images/hiclipart.com.png);
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;   
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom;
}
.gradient {
    background: linear-gradient(black, #0B314F, #842759);
    height: 100%;
    background-repeat: no-repeat;
}
.logo {
    width: 25%;
}
.logo img {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;

}
.logo-name {
    color: #098CF6;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
/*--------menu-----------*/
.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.burger-button {
width: 20%;
margin-top: 25px;
}
.burger-line {
    width: 35px;
    height: 2px;
    background-color: #1AB1E6;
    margin: 6px;
}
.main-menu {
    display: none;
}
.burger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.burger-menu li {
    padding: 10px 20px 10px 0;
    text-align: right;
}
.burger-menu a {
    text-decoration: none;
    color: white;
}
/*--------countdown-----------*/
.countdown-container {
    padding-top: 50px;
    width: 70%;
    margin: 0 auto;
    color: #1AB1E6;
    position: relative;
}
.top-right {
    width: 70%;
}
.top-right img {
    width: 55%;
    position: absolute;
    right: 0;
}
.bottom-left {
    width: 70%;
}
.bottom-left img {
    width: 55%;
    position: absolute;
    bottom: 0;
}
.clock {
    display: flex;
    justify-content: center;
}
.clock-container {
    position: relative;
}
.clock-title {
    margin: 0 auto; 
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 5px;
}

.clock-element {
    width: 25%;
    margin-bottom: 5px;
}
.clock-element p {
    text-align: center;
    margin: 0;
}
.number-flex {
    display: flex;
    justify-content: center;
}
.number-flex p {
    font-size: 1.8em;
    font-weight: 600;  
    width: 18px;
    margin-bottom: 5px;
    
}
.mission-name {
    font-size: 1em;
}
.mission-date {
    text-align: right;
    font-size: 1em;
}
/*--------title-----------*/
h1 {
    font-weight: 300;
    font-size: 1.6em;
    text-align: center;
    padding-top: 70px;
}
/*--------next-page-----------*/
.next-page {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}
/*--------Latest-Launch----------*/
h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
    padding-top: 40px;
}
h3 {
    width: 90%;
    font-weight: 400;
    font-size: 1.4em;
    padding: 40px 0 10px 0;
    margin: 0 auto;
}
.details {
    display: flex;
    margin: 0 auto;
}
.category {
    width: 50%;
    margin: 5px 0;
}
.info {
    width: 50%;
    margin: 5px 0;
}
.launch-info {
    width: 70%;
}
.launch-info-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.mission-patch {
    width: 30%;
}
.mission-patch img {
    width: 100%;
    margin: 0 auto;
}
.launch-video {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}
iframe {
    width: 100%;
}
.more-info-container {
    padding-top: 20px;
    width: 90%; 
    margin: 0 auto;
}
.more-info-container p {
    line-height: 1.7;
    color: rgb(214, 221, 230);
    max-width: 366px;
}
/*-----Upcoming-Launches------*/
.upcoming-info {
    display: flex;
    justify-content: space-evenly;
}
.agenda-container h2 {
    padding-bottom: 20px;
}
.launch-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.launch-container p {
    width: 33.3%;
}
.past-launches a {
    margin-top: 20px;
    line-height: 2;
}
.launch-agenda {
    padding-bottom: 60px;
}
.launch-agenda .button {
    position: relative;
    margin: 50px 0 0 20vw;
}
.show-more-button-container {
    width: 90%;
}
.show-more-button {
    padding: 5px 20px;
    background: rgba(23, 23, 23, 0.1); 
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}
.hide {
    display: none;
}
.info {
    margin: 7px 0;
}
