*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    color: #E3E3E3;
    
}
.gradient {
    background: linear-gradient(black, #0B314F, #842759);
    height: 100%;
    background-repeat: no-repeat;
}
header {
    min-height: 100vh; 
    position: relative;
}
h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    font-size: 1.2rem;
    margin: 0;
}
p {
    font-size: 1rem;
    line-height: 1.7em;
}
.logo {
    width: 45%;
    display: flex;
    padding: 10px;
    align-items: center;
}
a {
    text-decoration: none;
    font-size: 1rem;
}
.logo img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.logo-name {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0 0 0 5px;
    line-height: 1.4rem;
}
h1 {
    width: 90%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 15vh;
    text-align: center;
    text-transform: uppercase;
}
.header-image {
    width: 100%;
    padding-top: 30px;
}
.header-image img {
    width: 70%;
    display: block;
    margin: 0 auto; 
}
/*--------location-map----------*/
.location {
    text-align: center;
    width: 100%;    
    margin-top: -28%;
    position: absolute;
    color: black;
}
.location p {
    line-height: 1rem;
    margin: 0;
}
p.headquarters {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2px 0;
}
/*-------main-menu-----------*/
.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-menu {
    display: none;
}
.burger-button {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    transition: top 0.2s;
}
.burger-line {
    width: 35px;
    height: 2px;
    background-color: #E3E3E3;
    margin: 5px 0;
}
.burger-menu {
    position: relative;
}
.burger-menu ul {
    position: fixed;
    right: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    z-index: 2;
}
.burger-menu li {
    background: rgba(0,0,0,0.2);
    padding: 20px 20px 10px 0;
    text-align: right;
}
.burger-menu a {
    text-decoration: none;
    color: #E3E3E3;
}
.burger-menu a:active {
    text-decoration: none;
    color: #098CF6;
}
.current-page a {
    color: #818C98;
}
/*--------circles-----------*/
.circle-container {
    display: flex;
    width: 100%;
    padding-top: 15%;
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
}
.circle-container p {
    margin: 0;
}
.circle {
    width: 100%;
    height: auto;
}
.circle p {
    text-align: center;
}
.title {
    padding-bottom: 10px; 
}
.circle-img {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.circle-img img {
    position: absolute;
    width: 100%;
}
.circle-img p {
    text-align: center;
    width: 60px;
    height: 60px;
    padding-top: 15px;
}
/*--------spacex-info----------*/
.spacex-info {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}
.spacex-info h2 {
    text-align: center;
    margin-top: 0;
}
.spacex-info {
    padding-top: 15vh;
}
.spacex-info-container p {
    line-height: 1.7em;
}
.company {
    width: 100%;
    margin: 40px auto 80px;
    position: relative;
    background: rgba(250, 250, 250, 0.2);
    padding: 10px;
}
.company img {
    width: 50%;
    position: absolute;
}
.top-corner {
    right: 0;
    top: 0;
    padding-bottom: 5px;
    z-index: 1;
}
.bottom-corner {
    left: 0;
    bottom: 0;
}
.company-container {
    display: flex;
    width: 100%;
}
.company-container p {
    margin: 5px 0;
}
.company-info {
    width: 60%;
}
.info {
    display: flex;
    justify-content: flex-start;
}
.info p {
    width: 50%;
}
.company-links {
    width: 40%;
    padding-left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}   
.company-links a {
    color: white;
    margin: 5px 0;
    text-decoration: underline;
}
.company-links a:hover {
    color: #1AB1E6;
}
.company-links a:active {
    color: #098CF6;
}
/*----history-intro----*/
.history-intro {
    padding-bottom: 20px;
}
.history-intro p {
    text-align: center;
    padding: 0;
}
.arrow {
    display: relative;
    width: 10%;
    margin: 0 auto;
}
.history-intro img {
    width: 10%;
    display: block;
    margin: 0 auto;
    position: absolute;
    padding-top: 10px;
}
/*--------spacex-history----------*/
.spacex-history {
    margin: 0 auto;
    background: linear-gradient(#842759, #0B314F, #4D3571, #0B314F);
    height: 100%;
    background-repeat: no-repeat; 
}
.event-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.event-container p {
    line-height: 1.7rem;
}
.event-container h2 {
    font-weight: 300;
    font-size: 1.6rem;
}
.event-container h3 {
    font-weight: 500;
}
.history-link-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.history-link-container a {
    margin-top: 20px;
    width: 40%;
    background: linear-gradient(90deg, #098CF6, #1AB1E6);
    padding: 5px 10px;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    color: white
}
.history-link-container a:hover {
    background: #C44489;
}
.history-link-container a:active {
    background: rgb(8, 114, 201);
}

@media only screen and (min-width: 414px) {
    /*----font-sizes----*/
    
    h1 {
        font-size: 1.6rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    .event-container h2 {
        font-size: 1.8rem;
    }
    .event-container p {
        line-height: 1.8em;
    }
    .link {
        font-size: 1.2rem;
        padding: 0.2em;
    }
    p {
        font-size: 1.2rem;
    }
    a {
        font-size: 1.2rem;
    }
    /*-------*/
    .logo {
        width: 50%;
    }
    .burger-button {
        padding: 23px;
    }
    .circle-container {
        padding-top: 20%;
    }
}

@media only screen and (min-width: 600px) {

    /*----font-sizes----*/
    body {
    font-size: 1.2em;
    }
    .logo p {
        font-size: 1.8rem;
        line-height: 1.6rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.4rem;
    }
    /*--------*/
    .header-image img {
        width: 60%;
    }
    .location {
        margin-top: -22%;
    }
    .location p {
        margin: 3px 0;
    }
    .logo {
        width: 55%;
    }
    .burger-button {
        padding: 29px;
    }
    .company {
        padding: 15px;
    }
    .history-link-container a {
        width: 30%;
    }
    .circle-container {
        padding-bottom: 250px;
    }
}








@media only screen and (min-width: 801px) {
    /*---fonts----------*/
    body {
        font-size: 1.2em;
    }
    h1 {
        font-size: 2.2rem;
        padding-top: 50px;
    }
    .header-image img {
        width: 40%;
        padding-top: 15px;
    }
    .tagline {
        font-size: 1.6rem;
        font-weight: 300;
        padding-top: 5px;
    }
    h2 {
        font-size: 2rem; 
    }
    p {
        font-size: 1.2rem;
    }
    /*---navigation-bar--------*/
    .navigation-bar {
        align-items: center;
    }
    .main-menu a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size:  1.2rem;
    }
    .main-menu {
        display: block;
        margin-right: 5%;
        position: fixed;
        right: 0;
        transition: 0.2s
    }
    .main-menu ul {
        list-style-type: none;
        display: flex;
    }
    .main-menu li {
        padding: 0 10px;
    }
    .current-page a {
        color: #818C98;
    }
    .main-menu a:hover {
        color: #1AB1E6;
    }
    .main-menu a:active {
        color: #098CF6;
    }
    .burger-button {
        display: none;
    }
    /*--location--------*/
    .location {
        margin-top: -15%; 
    }
    /*---circles--------*/
    .header-numbers {
        position: absolute;
        right: 0;

    }
    .circle-container {
        flex-direction: column;
        padding: 0;
    }
    .circle {
        width: 200px;
        height: 120px;
        margin-left: -300px;
    }
    /*---------space-x---------*/
    .spacex-info {
        width: 100%;
    }
    .historic-event {
        width: 100%;
        margin: 0;
    }
    .spacex-info-container {
        height: 70vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .summary-container {
        width: 40%;
    }
    .summary-container p {
        margin: 0 auto;
    }
    .company {
        width: 40%;
        margin: 50px 0 0 0;
    }
    .history-intro {
        height: 30vh;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .history-intro img {
        width: 3%; 
    }
    /*---------timeline---------*/
    .event-container {
        width: 100%;
        min-height: 100vh;
    }
    .timeline-flex {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
    }
    .timeline-details p {
        width: 70%;
        margin: 0 auto;
        padding: 20px 40px;
        
    }
    .timeline-details p:hover {
        background: white;
        color: rgb(26, 26, 26);
        border-radius: 5px;
    }
    .history-link-container {
        justify-content: center;
    }
    .history-link-container a {
        width: 200px;
        margin: 20px;
    }
    .back-up {
        transform: rotate(180deg);
        display: block;
        margin: 0 auto;
        padding-top: 30px;
    }
    img.back-up {
        width: 5%;
        
    }
}