*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: ubuntu,sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    font-style: normal;
    color: white;
}
.gradient {
    background: linear-gradient(black, #0B314F, #842759);
    height: 100%;
    background-repeat: no-repeat;
}
h1 {
    padding-top: 15vh;
    text-align: center;
    font-weight: 300;
    font-size: 1.6em;
}
header {
    background-image: url(/images/america.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.logo {
    width: 50%;
    display: flex;
    padding: 10px;
    align-items: center;
}
a {
    text-decoration: none;
}
.logo img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.logo-name {
    color: white;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0 0 0 5px;
}
/*--------menu-----------*/
.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-menu {
    display: none;
}
.burger-button {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
}
.burger-line {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}
.burger-menu {
    z-index: 1;
    position: relative;
}
.burger-menu ul {
    position: fixed;
    right: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    font-weight: 300;
}
.burger-menu li {
    background: rgba(0,0,0,0.2);
    padding: 20px 20px 10px 0;
    text-align: right;
}
.burger-menu a {
    text-decoration: none;
    color: white;
}
/*--------location-map----------*/
.location {
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 80px;
}
.location p {
    margin: 0;
}
p.headquarters {
    font-weight: 500;
    font-size: 1.2em;
    margin: 5px 0;
}
/*--------circles-----------*/
.circle-container {
    display: flex;
    padding-top: 40vh;
}
.circle-container p {
    margin: 0;
}
.circle {
    width: 200px;
    height: 120px;
}
.circle p {
    text-align: center;
}
.title {
    padding-bottom: 10px; 
}
.circle-img {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.circle-img img {
    position: absolute;
    width: 100%;
}
.circle-img p {
    text-align: center;
    width: 60px;
    height: 60px;
    padding-top: 23px;
}
/*--------spacex-info----------*/
.spacex-info {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.spacex-info h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    margin-top: 0;
}
.spacex-info {
    padding-top: 15vh;
}
.spacex-info-container p {
    line-height: 1.7em;
    font-size: 1em;
}
.company {
    width: 100%;
    margin: 40px auto 80px;
    position: relative;
    background: rgba(250, 250, 250, 0.2);
    padding: 10px;
}
.company img {
    width: 50%;
    position: absolute;
}
.top-corner {
    right: 0;
    top: 0;
    padding-bottom: 5px;
    z-index: 1;
}
.bottom-corner {
    left: 0;
    bottom: 0;
}
.company-container {
    display: flex;
    width: 100%;
}
.company-container p {
    margin: 5px 0;
}
.company-info {
    width: 60%;
}
.info {
    display: flex;
    justify-content: flex-start;
}
.info p {
    width: 50%;
}
.company-links {
    width: 40%;
    padding-left: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}   
.company-links a {
    color: white;
    margin: 5px 0;
}
.company-links a:hover {
    color: #1AB1E6;
}
.company-links a:active {
    color: #098CF6;
}
/*----history-intro----*/
.history-intro {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}
.history-intro p {
    position: relative;
    text-align: center;
    padding: 0;
}
.history-intro h2 {
    position: relative;
}

.arrow {
    display: relative;
    width: 10%;
    margin: 0 auto;
}

.history-intro img {
    width: 10%;
    display: block;
    margin: 0 auto;
    position: absolute;
    padding-top: 10px;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes arrow {
    from {
        margin-top: 0px;
    }
    50% {
        margin-top: 10px;
    }
    to {
        margin-top: 0px;
    }
}
/*--------spacex-history----------*/
.spacex-history {
    margin: 0 auto;
    min-height: 100vh;
    background: linear-gradient(#842759, #0B314F, #4D3571, #842759);
    height: 100%;
    background-repeat: no-repeat; 
}
.event-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    scroll-snap-align: start;
}
.event-container h2 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.8em;
}
.event-container h3 {
    font-weight: 300;
    margin-top: 0;
}
.event-container p {
    font-size: 1em;
    line-height: 1.7em;
}
.history-link-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.history-link-container a {
    margin-top: 20px;
    width: 40%;
    background: linear-gradient(90deg, #098CF6, #1AB1E6);
    padding: 5px 10px;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none;
    color: white
}
.history-link-container a:hover {
    background: #C44489;
}
.history-link-container a:active {
    background: rgb(8, 114, 201);
}












@media only screen and (min-width: 800px) {

    body {
        font-size: 1.2em;
        scroll-snap-type: y mandatory;
        overflow: scroll;
    }
    header {
        scroll-snap-align: start;
    }
    h1 {
        padding: 0;
    }
    section {
        scroll-snap-align: start;
    }
    header {
        background-size: 350px;
    }
    /*---navigation-bar--------*/
    .logo  {
        width: 70%;
    }
    a.logo-link {
        text-decoration: none;
    }
    .logo-name {
        padding: 30px 0 0 5px;
    }
    .main-menu {
        display: block;
        padding: 20px 80px 0 0;
    }
    .main-menu ul {
        list-style-type: none;
        display: flex;
    }
    .main-menu li {
        padding: 0 10px;
    }
    .main-menu a {
        text-decoration: none;
        color: white;
    }
    a.current-page {
        color: #818C98;
    }
    .main-menu a:hover {
        color: #1AB1E6;
    }
    .main-menu a:active {
        color: #098CF6;
    }
    .burger-button {
        display: none;
    }
    /*--location--------*/
    .location {
        margin-top: 80px;
    }
    /*---circles--------*/
    .circle-container {
        display: inline;
        float: right;
        padding: 0;
        margin-top: -80px;
    }
    .circle {
        width: 200px;
        height: 120px;
    }
}