*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: ubuntu,sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    font-style: normal;
    color: white;
}
.gradient {
    background: linear-gradient(black, #0B314F, #842759);
    height: 100%;
    background-repeat: no-repeat;
}
h1 {
    padding-top: 20vh;
    text-align: center;
    font-weight: 300;
    font-size: 1.6em;
}
header {    
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-image {
    width: 80%;
    margin: 10vh auto 0;
    
}
.header-image img {
    width: 80%;
    transform: rotate(20deg);
    margin-left: 30px;

}
.logo {
    width: 50%;
    display: flex;
    padding: 10px;
    align-items: center;
}
a {
    text-decoration: none;
}
.logo img {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.logo-name {
    color: white;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0;
}
/*--------menu-----------*/
.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.burger-button {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
}
.burger-line {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
}
.main-menu {
    display: none;
}
.burger-menu {
    z-index: 1;
    position: relative;
}
.burger-menu ul {
    position: fixed;
    right: 0;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    font-weight: 300;
}
.burger-menu li {
    background: rgba(0,0,0,0.2);
    padding: 20px 20px 10px 0;
    text-align: right;
}
.burger-menu a {
    text-decoration: none;
    color: white;
}
/*--------rockets-----------*/
.rockets {
    min-height: 100vh;
    width: 90%; 
    margin: 0 auto;
}
.rocket-images { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.rocket-images p {
    text-align: center;
}
.link {
    text-align: center;
    padding: 3px;
    background: linear-gradient(90deg, #098CF6, #1AB1E6);
    border-radius: 5px; 

}
.f1 img {
    height: 15vh;
    margin-left: 15px;
}
.f9 img {
    height: 50vh;
    margin-left: 10px;
}
.fheavy img {
    height: 50vh;
    margin-left: 5px;
}
.starship img {
    height: 35.5vh;
}
.rocket-info {
    margin: 0 auto;
}
/*--------rocket-details-----------*/
.rocket-details {
    display: flex;
}
.category {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 2px;
    border-bottom: solid white 1px;
}
.column:first-of-type {
    padding-right: 100px;    
}
.info {
    font-size: 1.4em;
    font-weight: 200;
    margin: 0;
}
.show-images {
    margin: 20px auto 30px;
    text-align: center;
    display: flex;
    width: 20%;

}
.show-images p {
    width: 70%;
    margin: 0;
}
.arrow {
    width: 30%;
}
.arrow img {
    width: 100%;
}
.collaps-arrow {
    transform: rotate(180deg);
}
.detail-images {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.detail-images img {
    width: 100%;
    padding: 20px;
}
.hide-image {
    text-align: center; 
    padding-bottom: 30px;
}
/*--------dragons-----------*/
.dragons {
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
}
.dragon-images {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    text-align: center;
}
.dragon1 {
    width: 30%;
}
.dragon2 {
    width: 30%;
}
.dragon-images img {
    width: 100%;
}
.show-dragon-images {
    margin: 20px auto 0;
    text-align: center;
    display: flex;
    width: 20%;
    padding-bottom: 30px;

}
.show-dragon-images p {
    width: 70%;
    margin: 0;
}
.detail-dragon-images {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.detail-dragon-images img {
    width: 100%;
    padding: 20px;
}












@media only screen and (min-width: 800px) {

    body {
        font-size: 1.2em;
        scroll-snap-type: y mandatory;
        overflow: scroll;
    }
    header {
        scroll-snap-align: start;
    }
    h1 {
        padding: 0;
    }
    section {
        scroll-snap-align: start;
    }
    header {
        background-size: 350px;
    }
    /*---navigation-bar--------*/
    .logo  {
        width: 70%;
    }
    a.logo-link {
        text-decoration: none;
    }
    .logo-name {
        padding: 30px 0 0 5px;
    }
    .main-menu {
        display: block;
        padding: 20px 80px 0 0;
    }
    .main-menu ul {
        list-style-type: none;
        display: flex;
    }
    .main-menu li {
        padding: 0 10px;
    }
    .main-menu a {
        text-decoration: none;
        color: white;
    }
    a.current-page {
        color: #818C98;
    }
    .main-menu a:hover {
        color: #1AB1E6;
    }
    .main-menu a:active {
        color: #098CF6;
    }
    .burger-button {
        display: none;
    }
    /*--location--------*/
   
}